body{
    background: radial-gradient(circle, rgba(50, 50, 50, .1), rgba(0, 0, 0, 1));
}

.landing{
    margin: auto;
    position: absolute;
    color: white;
    width: auto;
    height: 200px;
    left: 50%;
    top: 50%;

    

    background-color: rgb(149, 0, 255);
    
    text-align: center;


}

.outer-box{
    width: 320px;
    height: 50px;
    padding: 10px;
    border: 5px solid rgb(229, 25, 25);
    margin: 0;
}