body{
    background-color: black;
}



.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 500px;
    height: 350px;
    background: lightgray;
    text-align: center;
    line-height: 150px;
    border-radius: 20px;

  }